
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome ${name}</h1>
	<table style="border: 1 solid;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Date Of Berth</th>
			<th>State</th>
			<th>City</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user: ${users}" >
			
				<td>${user.id}</td>
				<td>${user.name}</td>
				<td>${user.gender}</td>
				<td>${user.dob}</td>
				<td>${user.state}</td>
				<td>${user.city}</td>
			</tr>
			</tbody>
	</table>
</body>
</html>